<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
	  <a class="nav-link {% if page.url=="/" %}active"
		  style="color : black{%endif%}" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if page.url=="/about.html"%}active"
	    style="color : black{%endif%}" href="about.html">Quién soy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if page.url=="/proyects.html"%}active"
	    style="color : black{%endif%}" href="proyects.html">Proyectos</a>
  </li>
</ul>
