<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
	  <a class="nav-link {% if page.url=="/" %}active"
		  style="color : black{%endif%}" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if page.url=="/about"%}active"
	    style="color : black{%endif%}" href="/about">Quién soy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if page.url=="/proyects"%}active"
	    style="color : black{%endif%}" href="/proyects">Proyectos</a>
  </li>
</ul>
