<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta property=’og:title’ content='javgat'/>
    <meta property=’og:description’ content='Javier Gatón&#39;s projects'/>
    <meta property=’og:url’ content='https://javgat.github.io'/>
    <meta property=’og:image’ content='https://javgat.github.io/img/code_screenshot.png'/>
    <meta property='og:image:width' content='612' />
    <meta property='og:image:height' content='701' />
    <meta charset="UTF-8">
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
   {% include style.html %}
  </head>

  <body class="bg-primary">
    <div class="vertical-center">
      <div class="container rounded my-5" id="cuerpo">

        <header class="p-3" role="banner">
          <div class="text-end">
            {% if site.github.is_project_page %}
              <a href="{{ site.github.repository_url }}" class="btn btn-info">View on GitHub</a>
            {% endif %}
            {% if site.show_downloads %}
              <a href="{{ site.github.zip_url }}" class="btn btn-outline-info">Download .zip</a>
              <a href="{{ site.github.tar_url }}" class="btn btn-outline-info">Download .tar.gz</a>
            {% endif %}
          </div>
        </header>

        <main id="content" class="main-content" role="main">
          <div class="container">
                {{ content }}
          </div>
        </main>
        
        <footer class="p-3">
          {% if site.github.is_project_page %}
          <p class="text-center">
            <a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is mantained by 
            <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.
          </p>
          {% endif %}
        </footer>

      </div>
    </div>
  </body>
</html>
